- if status.retweeted_status
  - original_status = status
  - original_status.created_at = Time.zone.parse(original_status.created_at)

  - status = status.retweeted_status

- status.created_at = Time.zone.parse(status.created_at)

- mentioned_users = (extract_mentioned_users(status.text) - [status.user.screen_name]).uniq
- if logged_in?
  - mentioned_users -= [current_user.screen_name]

- newly_created = false unless defined?(newly_created)
- li_class = []
- li_class << 'buffered' if request.xhr?
- li_class << 'newly_created' if newly_created

%li.status{ |
  :id => "status_#{status.id}", 'data-id' => status.id, |
  'data-user' => status.user.screen_name, 'data-mentioned-users' => mentioned_users.join(' '), |
  :class => li_class.empty? ? nil : li_class.join(' ') |
  } |
  %span.thumb
    = link_to image_tag(status.user.profile_image_url, :alt => status.user.name, :size => '48x48'), user_path(status.user.screen_name), :title => status.user.name

  %span.status-body
    - if original_status && original_status.retweeted_status
      %span.retweet-icon

    %strong.author-name
      = link_to status.user.screen_name, user_path(status.user.screen_name), :title => status.user.name
    - if status.user.protected
      %span{:class => 'lock-icon', :title => "#{status.user.name}'s tweets are protected."}

    %span.content= raw format_tweet(status.text)

    %span.meta
      = link_to "#{time_ago_in_words(status.created_at, true)} ago", |
        status_path(status.id), :title => status.created_at, |
        'data-time' => status.created_at.to_i |
      %span= raw "via #{status.source}"
      - if status.in_reply_to_status_id
        = link_to "in reply to #{status.in_reply_to_screen_name}", |
          status_path(status.in_reply_to_status_id), |
          :title => 'Hold Ctrl then click to show full thread.', |
          :class => 'in-reply-to', |
          'data-in-reply-to-status-id' => status.in_reply_to_status_id |

    - if original_status && original_status.retweeted_status
      %span.meta.retweet-meta
        %span
          = 'Retweeted by'
          = link_to original_status.user.screen_name, user_path(original_status.user.screen_name), :title => original_status.user.name
          %span{:title => original_status.created_at, |
            'data-time' => original_status.created_at.to_i}= |
            "#{time_ago_in_words(original_status.created_at, true)} ago" |
          %span= raw "via #{original_status.source}"

    - if logged_in?
      %ul.actions-hover
        %li
          %span
            = link_to 'Reply', root_path(:in_reply_to => status.user.screen_name, :in_reply_to_status_id => status.id), :title => "Reply to #{status.user.screen_name}", :class => 'reply'
        - unless mentioned_users.empty?
          %li
            %span
              = link_to 'Reply all', root_path(:in_reply_to => status.user.screen_name, :in_reply_to_status_id => status.id, :in_reply_to_mentioned_users => mentioned_users.join(' ')), :title => "Reply to #{mentioned_users.unshift(status.user.screen_name).to_sentence}", :class => 'reply-all'
        %li
          %span
            = link_to 'Retweet with comment', root_path(:retweet_id => status.id), :title => 'Retweet with comment (Traditional RT)', :class => 'retweet-with-comment'
        - unless status.user.screen_name == current_user.screen_name
          %li
            %span
              = link_to 'Retweet', '#', :title => 'Retweet (Official RT)', |
                'data-url' => retweet_status_path(status.id), |
                :class => 'retweet' |
