- hide = false unless defined?(hide)

#tweet-boxes
  .tweet-box{:class => hide ? 'hide' : nil}
    .inner-box
      = form_for :status, :url => statuses_path do |f|
        .bar
          %h3
            = label_tag nil, "What's happening?", :class => 'doing'
          %span.chars-left-notice
            %strong.status-field-char-counter 140
        .info
          = f.text_area :status, :size => '60x4', :id => nil,
            :class => 'status_status'
          = f.hidden_field :in_reply_to_status_id, :id => nil,
            :class => 'status_in_reply_to_status_id'
          .message
            I'm draggable.
            %br
            Double click the characters counter to close me.
          .status-btn
            = f.submit 'update', :id => nil, :class => 'status_submit'

      %ol.inline-tweet
