- content_for :sidebar do
  .profile
    %span.section-links
      - if @user.protected
        = image_tag 'icon_lock_sidebar.gif', :title => "This user's tweets are protected."
    %ul.about
      - unless @user.name.blank?
        %li
          %span.label Name
          %span= @user.name
      - unless @user.location.blank?
        %li
          %span.label Location
          %span= @user.location
      - unless @user.url.blank?
        %li
          %span.label Web
          %span= link_to truncate(@user.url, :length => 25), @user.url, :title => @user.url
      - unless @user.description.blank?
        %li
          %span.label Bio
          %span= @user.description
      %li
        %span.label Joined
        %span= Time.zone.parse(@user.created_at).to_date.to_s :long_ordinal
      %li
        %span.label Tweets per day
        %span ~#{'%.2f' % (@user.statuses_count.to_f / |
          (Time.zone.now.to_date - Time.zone.parse(@user.created_at).to_date).to_f)} |

    %ul.stats
      - content_for :following do
        %span= number_with_delimiter(@user.friends_count)
        %span following
      - content_for :followers do
        %span= number_with_delimiter(@user.followers_count)
        %span followers
      %li= link_to yield(:following), user_following_path
      %li= link_to yield(:followers), user_followers_path

  %ul#primary_nav
    - content_for :tweets_link do
      %span Tweets
      %span= number_with_delimiter(@user.statuses_count)
    %li
      = link_to yield(:tweets_link), user_path(@user.screen_name)
