- content_for :timeline_heading do
  #timeline_heading
    %h1= "Tweets mentioning @#{current_user.screen_name}"

- content_for :pagination do
  = pagination :newer => mentions_path(:page => @newer_page), :older => mentions_path(:page => @older_page)

= render :partial => 'update'
= render :partial => 'timeline'
