!!! 5
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %title TwiLoli
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag


  %body.three-col
    #container
      #header
        %h1= link_to 'TwiLoli', root_path
        %ul
          - unless logged_in?
            %li= link_to 'Sign in', signin_path
          - else
            %li= link_to 'Sign out', signout_path

      #content
        - if notice
          %p.notice= notice
        - if flash[:error]
          %p.error= flash[:error]

        =yield

      #sidebar
        - unless content_for? :sidebar
          = render :partial => 'shared/sidebar'
        =yield :sidebar

      #footer
        &copy; 2010 Rainux

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'underscore-min'
    = javascript_include_tag 'application'
