!!! 5
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %title TwiLoli
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    - if profile_user
      %style(type='text/css')
        :sass
          body, h3, h4
            :color ##{profile_user.profile_text_color}
          body
            :background #{profile_background(profile_user)} !important
          a, a span, a:visited, a:hover
            :color ##{profile_user.profile_link_color}
          #sidebar > *
            :background ##{profile_user.profile_sidebar_fill_color} !important
            :border-left 1px solid ##{profile_user.profile_sidebar_border_color}


  %body.three-col{:id => @body_id}
    #container
      #header
        %h1= link_to 'TwiLoli', root_path
        %ul
          - unless logged_in?
            %li= link_to 'Sign in', signin_path
          - else
            %li= link_to 'Sign out', signout_path

      #content
        #message
          %p.notice{:class => notice ? nil : 'hide'}= notice
          %p.error{:class => flash[:error] ? nil : 'hide'}= flash[:error]

        =yield

      #sidebar
        - unless content_for? :sidebar
          = render :partial => 'shared/sidebar'
        =yield :sidebar

      #footer
        &copy; 2010 Rainux

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'underscore-min'
    = javascript_include_tag 'application'
